<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Order</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
                <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    {{!-- must automation this link --}}
                    <li class="breadcrumb-item"><a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/admin/order">Order</a>
                    </li>
                    <li class="breadcrumb-item active">Add Order
                    </li>
                </ol>
                </div>
            </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <form action="/admin/order/save" method="POST">
                        {{!-- Info of order --}}
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Order</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div style="margin: 0 20px;">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Customer's name</label>
                                        <select name="customerId" class="form-control" required>
                                            <option value="">Select Customer</option>
                                            {{#each listCustomer}}
                                                <option value="{{this._id}}">{{this.fullname}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Payment Method</label>
                                        <select name="payment" class="form-control">
                                            <option value="">Select payment</option>
                                                <option value="shipCOD">ShipCOD</option>
                                                <option value="paypal">Paypal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{#if errText}}
                            <div class="alert alert-warning" role="alert">
                                {{errText}}
                            </div>
                        {{/if}}
                        {{!-- Info of subOrder --}}
                        <div id="listSubOrder">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Sub Order 1</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div style="margin: 0 20px;">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name Of Shoe</label>
                                            <div id="select-wrapper1" style="position: relative;">
                                                <select name="shoeId" class="form-control" onchange="getColorOfShoe(this, 1)" required>
                                                    <option value="">Select Shoe</option>
                                                    {{#each listShoe}}
                                                        <option value="{{this._id}}">{{this.name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Color</label>
                                            <select name="color" class="form-control" id="setColor1" onchange="getSizeOfShoe(this, 1)" required>
                                            
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Size</label>
                                            <select name="size" class="form-control" id="setSize1" onchange="getPrice(this , 1)" required>
                                            
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Price</label>
                                            <input type="text" class="form-control" name="price" id="setPrice1" placeholder="Enter Price" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Quantity</label>
                                            <input type="number" class="form-control" name="quantity" placeholder="Enter Quantity" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="button" id="btnNewSubOrder">New subOrder</button>
                        <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .spinner-border {
        position: absolute;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: spinner-border 0.75s linear infinite;
        position: absolute;
        top: 20%;
        right: 22px;
        transform: translateY(-50%);
    }

    @keyframes spinner-border {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<script>
    let idOfSubOrder = 1;
    let shoeInfo, infoByColor;

    function getColorOfShoe(selectedShoe, idOfSubOrder) {
        let selectWrapper = document.getElementById(`select-wrapper${idOfSubOrder}`);
        let selectElement = document.getElementById(`select-wrapper${idOfSubOrder}`).querySelector('select');

        selectElement.disabled = true;
        selectWrapper.insertAdjacentHTML('beforeend', 
            `<div class="spinner-border" role="status"></div>`
        );

        let shoeId = selectedShoe.value;
        let outputColor = '<option value="">Select Color</option>';

        fetch(`/api/v1/shoes/${shoeId}`)
            .then(response => response.json())
            .then((data) => {
                shoeInfo = data;
                data.color.forEach((color) => {
                    outputColor += `<option value="${color.id}">${color.colorName}</option>`
                })
                console.log(data);
                $(`#setColor${idOfSubOrder}`).html(outputColor);
            })
            .catch(err => {
                console.err(err)
            })
            .finally(() => {
                selectElement.disabled = false;
                selectWrapper.querySelector('.spinner-border').remove();
            });
    }

    function getSizeOfShoe(selectedColor, idOfSubOrder) {
        let colorId = selectedColor.value;
        let outputSize = '<option value="">Select Size</option>';

        infoByColor = shoeInfo.color.find((color) => color.id === colorId);

        infoByColor.sizes.forEach((size) => {
            outputSize += `<option value="${size.sizeId}">${size.sizeName}</option>`
        })

        $(`#setSize${idOfSubOrder}`).html(outputSize);
    }

    function getPrice(selectedSize, idOfSubOrder) {
        let sizeId = selectedSize.value;

        const infoOfSize = infoByColor.sizes.find((size) => size.sizeId === sizeId);

        document.getElementById(`setPrice${idOfSubOrder}`).value = infoOfSize.price;
    }

    document.getElementById('btnNewSubOrder').addEventListener('click', (e) => {
        e.preventDefault();
        idOfSubOrder++;
        document.getElementById('listSubOrder').insertAdjacentHTML('beforeend', 
            `<div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sub Order ${idOfSubOrder}</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div style="margin: 0 20px;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name Of Shoe</label>
                            <div id="select-wrapper${idOfSubOrder}" style="position: relative;">
                                <select name="shoeId" class="form-control" onchange="getColorOfShoe(this, ${idOfSubOrder})">
                                    <option value="">Select Shoe</option>
                                    {{#each listShoe}}
                                        <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Color</label>
                            <select name="color" class="form-control" id="setColor${idOfSubOrder}" onchange="getSizeOfShoe(this, ${idOfSubOrder})">
                            
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Size</label>
                            <select name="size" class="form-control" id="setSize${idOfSubOrder}" onchange="getPrice(this , ${idOfSubOrder})">
                            
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Price</label>
                            <input type="text" class="form-control" name="price" id="setPrice${idOfSubOrder}" placeholder="Enter Price" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity">
                        </div>
                    </div>
                </div>
            </div>`
        );
    })

    document.getElementById('btnSubmit').addEventListener('click', (e) => {

    })
</script>
