<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper" style="margin-top: 22px;">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <!-- Time Range -->
                <div class="form-group">
                    <h3 class="content-header-title">Date Range To Statistics</h3>
                    {{!-- <label style="color: white; ">Date Range To Statistics</label> --}}
                    <div class='input-group'>
                        <input type='text' class="form-control daterange" name="dateRange" value="{{dateRange}}"/>
                        <div class="input-group-append">
                            <span class="input-group-text">l
                                <span class="ft-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4" style="margin-top: 32px; max-height: 40px">
                <button id="btnStart" class="btn btn-primary">Start Statistics</button>
            </div>
        </div>
        <!-- Order status and amount of customer -->
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="card" style="min-height: 200px;">
                    <div class="card-header p-1">
                        <h4 class="card-title float-left">Total Orders</h4>
                        <a href="/admin/orderNotConfirm">
                            <span class="badge badge-pill badge-info float-right m-0">Go to Orders</span>
                        </a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-footer text-center p-1">
                            <div class="row">
                                <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                    <p class="blue-grey lighten-2 mb-0">Not Confirm</p>
                                    <p class="font-medium-5 text-bold-400">{{orderNotConfirm}}</p>
                                </div>
                                <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                    <p class="blue-grey lighten-2 mb-0">Confirmed</p>
                                    <p class="font-medium-5 text-bold-400">{{orderConfirmed}}</p>
                                </div>
                                <div class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                    <p class="blue-grey lighten-2 mb-0">In Transit</p>
                                    <p class="font-medium-5 text-bold-400">{{orderInTransit}}</p>
                                </div>
                                <div class="col-md-3 col-12 text-center">
                                    <p class="blue-grey lighten-2 mb-0">Completed</p>
                                    <p class="font-medium-5 text-bold-400">{{orderCompleted}}</p>
                                </div>
                            </div>
                            <hr>
                            <span class="text-muted"><a href="#" class="danger darken-2">Orders Status</a> Statistics</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card pull-up border-top-info border-top-3 rounded-0" style="min-height: 197.73px;">
                    <div class="card-header">
                        <h4 class="card-title">
                            Total Clients 
                            <a href="/admin/accounts">
                                <span class="badge badge-pill badge-info float-right m-0">Go to Accounts</span>
                            </a>
                        </h4>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body p-2">
                            <h4 class="font-large-1 text-bold-400">{{totalUser}}<i class="ft-users float-right"></i></h4>
                        </div>
                        <div class="card-footer p-1">
                            <span class="text-muted"><i class="la la-arrow-circle-o-up info"></i> Have <strong class="danger darken-2">{{newUsers}}</strong> new customer in this date range</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Order status and amount of customer -->
        <!-- Product business status -->
        <div class="row match-height">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <h5 class="card-title text-bold-700 my-2">Product Summary</h5>
                <div class="card">            
                    <div class="card-content">
                        <div id="recent-projects" class="media-list position-relative">
                            <div class="table-responsive" style="margin-top: 10px;">
                                <table class="table table-striped table-bordered zero-configuration" style="text-align: center" id="recent-project-table">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Product Name</th>
                                            <th class="border-top-0">Brand</th>
                                            <th class="border-top-0">Sales</th>
                                            <th class="border-top-0">Amount Remaining</th>
                                            <th class="border-top-0">Best Selling Color & Size</th>
                                            <th class="border-top-0">Go to Product</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each listSummary}}
                                            <tr>
                                                <td class="text-truncate align-middle">
                                                    <a href="#">{{this.name}}</a>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-success round" type="button">{{this.brand}}</button>
                                                </td>
                                                <td class="text-truncate">
                                                    <span>{{this.sale}}</span>
                                                </td>
                                                <td class="text-truncate pb-0">
                                                    <span>{{this.amountRemaining}}</span>
                                                </td>
                                                <td>
                                                    {{!-- <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                                        <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div> --}}
                                                    <button class="btn btn-sm btn-outline-warning round" type="button">{{this.colorBestSeller}}</button>
                                                    <button class="btn btn-sm btn-outline-danger round" type="button">{{this.sizeBestSeller}}</button>
                                                </td>
                                                <td class="text-truncate mr-1">
                                                    <a href="/product/update/{{this.shoeId}}">
                                                        <i class="ft-shopping-cart blue-grey lighten-2 font-medium-5 ml-1" style="margin-right: 30px;"></i>
                                                    </a>
                                                </td>
                                            </tr>                                
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product business status -->

        <!-- Pick-A-Date Picker start -->
        <section id="pick-a-date" style="display: none">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Pick-A-Date Picker</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <p>Pickadate.js is a mobile-friendly, responsive, and lightweight jQuery date &amp; time input picker.</p>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Basic Pick-a-date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate" placeholder="Basic Pick-a-date" />
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate</code> class for basic Pick-A-Date Picker. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Pick-a-date with short string</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate-short-string" placeholder="String Short of Month &amp; Week"/>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-short-string</code> class for short Month &amp; Week String. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Select Year</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate-select-year" placeholder="Select Year"/>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-select-year</code> class to allow user to select year. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Change First Weekday</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate-firstday" placeholder="First Weekday to Monday"/>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-firstday</code> class to change first weekday to Monday. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Change/Hide Buttons</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate-buttons" placeholder="Hide/Change Buttons"/>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-buttons</code> class to change/hide buttons. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Date Limits</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate-limits" placeholder="Date Limits"/>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-limits</code> class to give selection from range of some dates. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Change Formats</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate-format" placeholder="Change Formats"/>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-format</code> class to change date display formats. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Change Arrows</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                            <input type='text' class="form-control pickadate-arrow" placeholder="Change Formats"/>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-arrow</code> class to change date display formats. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Picker Translation</label>
                                        <div class="input-group">
                                            <input type='text' class="form-control pickadate-translations" placeholder="In Another Language"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-translations</code> class for language translation.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Disable days of the week</label>
                                        <div class="input-group">
                                            <input type='text' class="form-control pickadate-disable-weekday" placeholder="Disable days of the week"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <small class="text-muted">Disable certain days of the week, such as all Saturdays (7th day of week) and Sundays (1st day of week), by passing an integer between 1 and 7</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Disable arbitrary dates</label>
                                        <div class="input-group">
                                            <input type='text' class="form-control pickadate-disable-dates" placeholder="Disable Dates"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <small class="text-muted">Pass an array of arbitrary dates (each formatted as [ yyyy, mm, dd ]) to disable them..</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Month &amp; Year Selectors</label>
                                        <div class="input-group">
                                            <input type='text' class="form-control pickadate-selectors" placeholder="Month &amp; Year Selector"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-selectors</code> class to set month &amp; year selectable.</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Month &amp; Year Dropdown</label>
                                        <div class="input-group">
                                            <input type='text' class="form-control pickadate-dropdown" placeholder="Month &amp; Year Dropdown"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-dropdown</code> class to set <code>select</code> to month and year selection</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Picker Events</label>
                                        <div class="input-group">
                                            <input type='text' class="form-control pickadate-events" placeholder="Open console to check events"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-events</code> class to check events as the user interacts with the picker.</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum and maximum date range</label>
                                        <div class="input-group">
                                            <input type='text' class="form-control pickadate-minmax" placeholder="In Another Language"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <span class="ft-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-minmax</code> class for language translation.</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Disable picker for native calendar</label>
                                        <div class="row">
                                            <div class="col-lg-12 mb-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <span class="ft-calendar"></span>
                                                        </span>
                                                    </div>
                                                    <input id="picker_from" class="form-control datepicker" type="date">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <span class="ft-calendar"></span>
                                                        </span>
                                                    </div>
                                                    <input id="picker_to" class="form-control datepicker" type="date">
                                                </div>
                                            </div>
                                        </div>
                                        <small class="text-muted">Use <code>.pickadate-nativ</code> class to change date display formats. </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pick-A-Date Picker end -->
    </div>
    </div>
</div>
<!-- END: Content-->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var table = $('#recent-project-table').DataTable({
            columnDefs: [
                { targets: [0, 1, 2, 3, 4], orderable: true },
                { targets: [5], orderable: false }
            ],

            // Set initial sorting column and direction
            order: [[2, 'desc']]
        });

        // set value for date range from localStorage
        const storedDateRange = localStorage.getItem("dateRange");
        if(storedDateRange) {
            const dateRange = document.getElementsByName("dateRange")[0]; 
            dateRange.value = storedDateRange;
        }
        
        // click to start business statistic
        const btnStart = document.getElementById("btnStart");

        btnStart.addEventListener('click', (e) => {
            e.preventDefault();
            btnStart.disabled = true;
            const dateRange = document.getElementsByName("dateRange")[0].value;

            // set date range for statistic
            localStorage.setItem("dateRange", dateRange);

            const url=`/admin?dateRange=${encodeURIComponent(dateRange)}`;

            window.location.href=url;
        })
    });
</script>

