<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">Accounts</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
                <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    {{!-- must automation this link --}}
                    <li class="breadcrumb-item"><a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/admin/accounts">Accounts</a>
                    </li>
                    <li class="breadcrumb-item active">Update Account
                    </li>
                </ol>
                </div>
            </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Update Account</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            {{!-- why have enctype and it's not work --}}
                            <form action="/admin/accounts/update/{{account._id}}?_method=PUT" method="POST" style="margin: 0 20px;">
                                {{#when account.accountName 'noteq' ''}}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Account Name</label>
                                        <input type="text" class="form-control" name="accountName" placeholder="Enter account name" value="{{account.accountName}}" required>
                                    </div>
                                {{/when}}
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Full Name</label>
                                    <input type="text" class="form-control" name="fullname" placeholder="Enter fullname" value="{{account.fullname}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Address</label>
                                    <input type="text" class="form-control" name="description" placeholder="Enter address" value="{{account.address}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="Enter email" value="{{account.email}}" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Number Phone</label>
                                    <input type="text" class="form-control" name="numberPhone" placeholder="Enter number phone" value="{{account.numberPhone}}" required pattern="[0-9]{10,11}">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Permission</label>
                                    <select name="permission" class="form-control">
                                        <option selected="selected" value="">Select Permission</option>
                                        {{#when restrictPermission 'eq' false}}      
                                            <option value="0"
                                                {{#when account.permission 'eq' 0}}
                                                    selected
                                                {{/when}}
                                            >Admin</option>
                                            <option value="1"
                                                {{#when account.permission 'eq' 1}}
                                                    selected
                                                {{/when}}
                                            >Employee</option> 
                                        {{/when}}
                                        {{#when restrictPermission 'eq' true}}
                                            <option value="2" 
                                                {{#when account.permission 'eq' 2}}
                                                    selected
                                                {{/when}}
                                            >User</option>
                                        {{/when}}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>